name = "slopcade-api"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat", "enable_nodejs_fs_module"]
main = "src/index.ts"
workers_dev = true

[dev]
port = 8789

[[d1_databases]]
binding = "DB"
database_name = "slopcade-db"
database_id = "2f549a62-08dc-41fb-8222-a211b6cdff3d"

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "slopcade-assets"
preview_bucket_name = "slopcade-assets-dev"

# TODO: Configure custom domain
# [[routes]]
# pattern = "api.slopcade.app"
# custom_domain = true
# zone_name = "slopcade.app"

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
