name = "clover-api"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"
workers_dev = true

[dev]
port = 8789

[[d1_databases]]
binding = "DB"
database_name = "clover-db"
database_id = "2f549a62-08dc-41fb-8222-a211b6cdff3d"

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "clover-assets"

# TODO: Configure custom domain
# [[routes]]
# pattern = "api.clover.app"
# custom_domain = true
# zone_name = "clover.app"

[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
